.report-title-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-title-text {
  text-align: center;
  font-weight: 500;
}

.report-edit-button {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}


.report-divider-container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.report-divider{
  border: 1px solid #bbb;
  width: 60%;
}

.report-divider-2{
  width: 90%;
  margin-bottom: 30px;
}

.chart-container {
  display: flex;
  justify-content: flex-start; 
  width: 100%; 
  flex-grow: 1;
  margin-bottom: 30px;
}


.chart {
  width: 100%;
  padding:0;
  margin: 0;
}

.report-table-container{
  height: 100%;
  overflow-y: auto;
}